export consumer_key_usagers=01
export consumer_key_agents=20f55d67-2e2e-4be4-afba-34e591c9c0c3
export consumer_secret_usagers=45
export consumer_secret_agents=dcdabccd-4454-47f0-9be6-564e3e9a7376
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=0841470248
export service_slug=imio-iasmartweb-local
export application_id=iasmartweb
export ZEO_HOST=0.0.0.0
export ZEO_PORT=8100
export LOGS_SERVER=localhost:5544
export HOSTNAME_HOST=localhost
export PROJECT_ID=localhost_imioweb
