export consumer_key_usagers=01
export consumer_key_agents=b7df2cb4-a006-436d-a514-c2c82735671c
export consumer_secret_usagers=45
export consumer_secret_agents=5e32caf1-ea5c-4993-a25f-7b09ca8cbaeb
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=80265465464
export service_slug=localhost
export application_id=iasmartweb
