export consumer_key_usagers=01
export consumer_key_agents=23
export consumer_secret_usagers=45
export consumer_secret_agents=67
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export service_ou=80265465464
export service_slug=localhost
export application_id=iasmartweb
